@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Freight Tracker</h1>

<p>The purpose of this app is too track different parts of freight in regards to transportation cost.</p>
<p>Developed as a Blazor app using .net 8.0</p>
