body {
    background-image: linear-gradient(to bottom, lightgray, gray);
    .trucksContainer {
        display: flex;
        justify-content: space-between;
        margin-left: -5px;
        margin-right: -5px;

        .truckContainer {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid grey;
            width: 33.33%;
            margin: 5px;
        }
    }
}
